<div class="mt-4">
    <div class="row">
        <div class="col-lg">
            <button> Hello </button>
        </div>
        <div class="col-2">
            <h2>{{this.name}}</h2>
            <h2>{{this.age}}</h2>
            <h2>{{this.sex}}</h2>
        </div>
    </div>
</div>