<div class="mt-4">
    <form method="post" action="">
        <label id="name-label"> Full Name: <input id="name" type="text" placeholder="Full Name" name="name" required></input> </label>
        <br>
        <label id="email-label"> Email Address: <input id="email" type="email" placeholder="Email" name="email" required></input> </label>
        <br>
        <label id="number-label"> Age: <input id="number" type="text" min="1" max="120" placeholder="Age" name="age" required></input> </label>
        <br>
        <button type="submmit">Submit</button>
    </form>
</div>